$arrow-break: 1161px;
.blog-post {
  padding: 4rem 1rem 5rem;
  max-width: 960px !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $bp-mobile) {
    // min-height: 100vh;
    padding-bottom: 6rem;
  }

  svg {
    cursor: pointer;
    position: absolute;
    top: 92%;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    @media (min-width: $arrow-break) {
      top: 50%;
    }
  }
  .next {
    right: 1rem;
    @media (min-width: $arrow-break) {
      top: 50%;
      right: -10%;
    }
  }
  .previous {
    left: 1rem;
    @media (min-width: $arrow-break) {
      left: -10%;
      top: 50%;
    }
  }

  .text-wrap {
    flex: 1;
    padding-right: 2em;
    padding-bottom: 2rem;
    min-width: 390px;

    @media (min-width: $bp-mobile) {
      padding-bottom: 0rem;
    }

    .header {
      // font-size: 3rem;
    }
    .explore {
      font-weight: bold;
      margin-bottom: 1rem;
      transition: letter-spacing 1s;
      position: relative;
      display: inline-block;

      a:hover {
        text-decoration: none;
      }

      &:hover {
        letter-spacing: 0.2px;
        color: black;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 4px;
        background-color: black;
        width: 100%;
      }
    }
  }

  .image-wrap {
    flex: 1;
    min-width: 390px;
    // min-width: $min-width;

    .image-fill {
      height: 500px;
    }


  }
}
