$arrow-break: 1161px;
.blog-post {
  padding: 4rem 1rem 0rem;
  max-width: 960px !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $bp-mobile) {
    // padding-bottom: 6rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // outline: 2px solid black;
    // padding: 2rem 0;
    padding: 2rem 0;

    @media (min-width: $arrow-break) {
      display: block;
      svg {
        cursor: pointer;
        position: absolute;
        top: 50%;
      }
      .next {
        right: 1rem;
        @media (min-width: $arrow-break) {
          top: 50%;
          right: -10%;
        }
      }
      .previous {
        left: 1rem;
        @media (min-width: $arrow-break) {
          left: -10%;
          top: 50%;
        }
      }

    }
    svg {

      height: 50px;
      width: 50px;
      border: 1px solid black;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.05);

    }
    .next {

    }
    .previous {

    }
  }

  .box {
    @media (min-width: 390px) {
      min-width: 390px;
    }
    min-width: 300px;
  }

  .text-wrap {
    flex: 1;
    padding-right: 2em;
    padding-bottom: 2rem;

    @media (min-width: $bp-mobile) {
      padding-bottom: 0rem;
    }

    .header {
      // font-size: 3rem;
    }
    .explore {
      font-weight: bold;
      margin-bottom: 1rem;
      transition: letter-spacing 1s;
      position: relative;
      display: inline-block;

      a:hover {
        text-decoration: none;
      }

      &:hover {
        letter-spacing: 0.2px;
        color: black;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 4px;
        background-color: black;
        width: 100%;
      }
    }
  }

  .image-wrap {
    flex: 1;

    .image-fill {
      @media (min-width: $bp-mobile) {
        height: 500px;
      }
      height: 400px;
    }
  }
}
