.blog-post {
  padding: 4rem 0;
  max-width: 960px !important;
  height: 80vh;
  position: relative;

  display: flex;

  .text-wrap {
    flex: 1;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    .explore {
      font-weight: bold;
      margin-bottom: 1rem;
      // text-decoration: underline;
      transition: letter-spacing 1s;

      a:hover {
        text-decoration: none;
      }

      &:hover {
        // letter-spacing: 0.9px;
        color: black;
      }
    }
  }

  .image-wrap {
    flex: 1;
    outline: 2px solid black;

    svg {
      cursor: pointer;
      position: absolute;

      top: 50%;
      height: 60px;
      width: 60px;
      outline: 1px solid black;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .next {
      right: -10%;
    }
    .previous {
      left: -10%;
    }
  }
}
