header {
    nav.navbar {
        padding: 1rem;
        //Brand
        align-items: center;
        .navbar-brand {
            a {
                &:hover {
                    color: black;
                }
                h4 {
                    margin-bottom: 0;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        button.navbar-toggler {
            border-radius: 0;
            padding: 0;
            .navbar-toggler-icon {
                background-image: url('../images/bars.svg');
                width: 30px;
                height: 30px;
                border: 0px;
            }
            border: 0px solid black;
        }
        button.navbar-toggler.collapsed {
            border-radius: 0;
            padding: 0;
        }
        #responsive-navbar-nav {
            .navbar-nav {
                a {
                    margin-left: 1rem;
                    font-size: 1.5rem;
                    color: black;
                    margin-bottom: 25px;
                    display: inline-block;
                    @media (min-width: $bp-mobile) {
                        font-size: 1rem;
                    }
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}