header {
  nav.navbar {
    //Brand
    .navbar-brand {
      a {
        &:hover {
          color: black;
        }
        h4 {
          &:hover {
            color: black;
          }
        }
      }
    }

    button.navbar-toggler {
      .navbar-toggler-icon {
        background-image: url('../images/bars.svg');
        width: 30px;
        height: 40px;
        border: 0px;
      }
      border: 0px solid black;
    }

    button.navbar-toggler.collapsed {
      padding: 0;
    }

    #responsive-navbar-nav {
      .navbar-nav {
        a {
          margin-left: 1rem;
          font-size: 1.5rem;
          color: black;

          @media (min-width: $bp-mobile) {
            font-size: 1rem;
          }
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
