.home {
  .landing{

    div{
      font-size: 2rem;
    }

    // height: 100vh;
    padding: 30vh 0 60vh;
    @media (min-width: $bp-mobile) {

    }
  }

  .projects{
    padding: 2rem 0;
    background-color: white;
    // background-image: linear-gradient(rgba(255, 0, 0, 0.67), white);
  }

  .about{
    margin: 8rem 0;
    // background-color: #74B6F5;
    h3{
      font-size: 4rem;
    }
    .section{
      margin-bottom: 2rem;
    }

    a{
      text-decoration: underline;

      &:hover{
        color: $black;
      }
    }
    .clients{
      a{
        display: block;
      }
    }
  }
  // .home-projects {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-bottom: 4rem;
  //
  //
  //   .home-project {
  //     flex:  0 0 1;
  //     flex-basis: 30.33%;
  //     // width: 20%;
  //     // border: 2px solid black;
  //     // border-radius: 50%;
  //     margin: 1%;
  //
  //     height: 300px;
  //     // min-width: 300px;
  //     position: relative;
  //     .letter {
  //       position: absolute;
  //       font-size: 13rem;
  //       line-height: 0;
  //       letter-spacing: 0;
  //     }
  //     .first-letter {
  //       top: 30%;
  //       left: 0;
  //       color: rgba(255, 0, 0, 0.7);
  //     }
  //     .second-letter {
  //       top: 60%;
  //       left: 40%;
  //       color: rgba(0, 0, 255, 0.7);
  //     }
  //   }
  // }

}
