.home {
  // width: 100vw;
  // margin-left: -10rem;
  .featured-works {
    font-size: 4rem;
    // margin-left: -4rem;
    margin-bottom: 5rem;
  }

  .projects{
    padding: 2rem 0;
    background-color: #FFB600;
  }

  .about{
    margin: 8rem 0;
    // background-color: #74B6F5;
    h3{
      font-size: 4rem;
    }
    .section{
      margin-bottom: 2rem;
    }
  }
  // .home-projects {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-bottom: 4rem;
  //
  //
  //   .home-project {
  //     flex:  0 0 1;
  //     flex-basis: 30.33%;
  //     // width: 20%;
  //     // border: 2px solid black;
  //     // border-radius: 50%;
  //     margin: 1%;
  //
  //     height: 300px;
  //     // min-width: 300px;
  //     position: relative;
  //     .letter {
  //       position: absolute;
  //       font-size: 13rem;
  //       line-height: 0;
  //       letter-spacing: 0;
  //     }
  //     .first-letter {
  //       top: 30%;
  //       left: 0;
  //       color: rgba(255, 0, 0, 0.7);
  //     }
  //     .second-letter {
  //       top: 60%;
  //       left: 40%;
  //       color: rgba(0, 0, 255, 0.7);
  //     }
  //   }
  // }

}
