.projects {
  // -webkit-animation: projects_pulse 80s infinite  alternate;
  // -moz-animation: projects_pulse_m 80s infinite alternate;
  min-height: 100vh;
  h3 {
    margin: 3rem 0;
  }

  .dots {
    // outline: 2px solid black;
    text-align: center;
    div.dot {
      width: 30px;
      display: inline-block;
      // outline: 2px solid black;

      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        // background-color: gray;
        border: 2px solid black;
        border-radius: 50%;
        top: 0%;
        left: 0%;
      }
    }

    div.dot.active {
      &:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: black;
        border-radius: 50%;
        top: 0%;
        left: 0%;
      }
    }
  }

  .projects-wrap {
    // display: flex;
    // flex-wrap: wrap;
    // display: grid;
    // grid-template-areas:
    //   "head head"
    //   "head  main"
    //   "nav  foot";

    // grid-gap: 1rem;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr 1fr 1fr;

    display: flex;
    flex-wrap: wrap;
    // text-align: center;

    @media (min-width: $bp-mobile) {
    }
    position: relative;

    // grid-gap: 1rem;
    margin-bottom: 2rem;
    // outline: 2px solid black;

    .project {
      position: relative;
      // outline: 2px solid black;
      min-width: 200px;
      min-height: 450px;
      width: 100%;

      flex: 0 0 1;
      padding-bottom: 2rem;

      @media (min-width: $bp-mobile) {
        width: 33.3%;
        padding-bottom: 0rem;
        min-height: 200px;
      }

      canvas {
        position: absolute !important;
        z-index: 2;
        top: 0;
      }
      .header {
        position: absolute;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        text-align: center;

        h4{
            font-weight: bold;
        }

        color: black;
      }
      .excerpt {
        display: none;
      }
      .image {
        height: 400px;
        opacity: 0.3;

        visibility: hidden;
      }
    }

    svg {
      position: absolute;
      top: 45%;
    }

    .prev {
      left: -5vw;
    }
    .next {
      right: -5vw;
    }
  }
}
